@charset "utf-8";
/*-------------------------------------------
    Copyright © 2014 Conalep Chiapa de Corzo

    Circular Content Carousel Style
    
    © DIEGO CARMONA BERNAL
-------------------------------------------*/
.padding { padding-bottom: 10px; }
.ca-container{
    position:relative;
    margin:15px auto 20px auto;
    width:880px;
    height:500px;
}
.ca-wrapper{
    width:100%;
    height:100%;
    position:relative;
}
.ca-item{
    position:relative;
    float:left;
    width:293px;
    height:100%;
    text-align:center;
}
.ca-more{
    position: absolute;
    bottom: 25px;
    right:0px;
    padding: 6px 12px;
    background: #177422;
    text-align:center;
    text-decoration: none;
    color: white;
    font-family: Georgia, "Times New Roman", serif;
    font-weight:bold;
    font-size: 1.5em;
}
.ca-close{
    position:absolute;
    top:5px;
    right:1px;
    background:#fff url(../images/lightbox/close.png) no-repeat center center;
    width:27px;
    height:27px;
    text-indent:-9000px;
    outline:none;
    -moz-box-shadow:1px 1px 2px rgba(0,0,0.2,0.2);
    -webkit-box-shadow:1px 1px 2px rgba(0,0,0.2,0.2);
    box-shadow:1px 1px 2px rgba(0,0,0.2,0.2);
    opacity:0.7;
}
.ca-close:hover{
    opacity:1.0;
}
.ca-item-main{
    padding:20px;
    position:absolute;
    top:5px;
    left:5px;
    right:5px;
    bottom:5px;
    background:#fff;
    overflow:hidden;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    border-top: 4px solid #177422;
}
.ca-icon{
    width:189px;
    height:189px;
    position:relative;
    margin:0 auto;
}
.icon-automotriz{
    background:transparent url(../images/carreras/tecnico_bachiller_en_automotriz_item.png) no-repeat center center;
}
.icon-autotronica{
    background:transparent url(../images/carreras/tecnico_bachiller_en_autotronica_item.png) no-repeat center center;
}
.icon-construccion{
    background:transparent url(../images/carreras/tecnico_bachiller_en_construccion_item.png) no-repeat center center;
}
.icon-informatica{
    background:transparent url(../images/carreras/tecnico_bachiller_en_informatica_item.png) no-repeat center center;
}
.icon-hospitalidad-turistica{
    background:transparent url(../images/carreras/tecnico_bachiller_en_hospitalidad_turistica_item.png) no-repeat center center;
}
.ca-item-2 .ca-icon{
    background-image:url(../images/carreras/que_hace.png);
}
.ca-item-3 .ca-icon{
    background-image:url(../images/carreras/campo_laboral.png);
}
.ca-item-4 .ca-icon{
    background-image:url(../images/carreras/icono_pdf.png);
}
.ca-item h3{
    font-family: 'Coustard', sans-serif;
    text-transform:uppercase;
    font-size:23px;
    font-weight: bold;
    color:#000;
    margin-bottom:20px;
    height:85px;
    text-align:center;
    text-shadow: 0px 1px 1px #e4ebe9;
}

.ca-content-wrapper{
    background:#fff;
    position:absolute;
    width:0px; /* expands to width of the wrapper minus 1 element */
    height:486px;
    top:5px;
    text-align:left;
    z-index:10000;
    overflow:hidden;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    border-top: 4px solid #177422;
}
.ca-content{
    width:570px;
    overflow:hidden;
}
.ca-content-text{
    font-size: 14px;
    font-family: "Georgia","Times New Roman",serif;
    margin:10px 20px 0 30px;
    padding:10px 20px;
    line-height:24px;
}
.ca-content-text p{
    font-size: 1.2em;
    padding-bottom:5px;
}
.ca-content h6{
    margin:25px 20px 0px 35px;
    font-size:23px;
    text-align: center;
    padding-bottom:10px;
    color:#000;
    font-family: 'Coustard', sans-serif;
    color:#000;
    border-bottom:2px solid #000;
    text-shadow: 0px 1px 1px #e4ebe9;
}
.ca-content ul{
    margin:20px 35px;
    height:30px;
}
.ca-content ul li{
    float:left;
    margin:0px 2px;
}
.ca-content ul li a{
    color:#fff;
    background:#000;
    padding:3px 6px;
    font-size:14px;
    font-family: "Georgia","Times New Roman",serif;
    font-style:italic;
}
.ca-content ul li a:hover{
    background:#fff;
    color:#000;
    text-shadow:none;
}
.ca-content a{
    text-decoration: none;
    color:#177422;
}
.ca-content a:hover{
    text-decoration: underline;
}
.ca-nav span{
    width:25px;
    height:38px;
    background:transparent url(../images/lightbox/arrows.png) no-repeat top left;
    position:absolute;
    top:50%;
    margin-top:-19px;
    left:-40px;
    text-indent:-9000px;
    opacity:0.2;
    cursor:pointer;
    z-index:100;
}
.ca-nav span.ca-nav-next{
    background-position:top right;
    left:auto;
    right:-40px;
}
.ca-nav span:hover{
    opacity:1;
}

@media screen and (max-width: 996px){
.ca-container{
    width:700px;
}
.ca-item{
    width:233px;
}
.ca-content{
    width:450px;
}
.ca-icon{
    width:170px;
    height:165px;
    position:relative;
    margin:0 auto;

}
.icon-automotriz{
    background:transparent url(../images/carreras/tecnico_bachiller_en_automotriz_item_mobil.png) no-repeat center center;
}
.icon-autotronica{
    background:transparent url(../images/carreras/tecnico_bachiller_en_autotronica_item_mobil.png) no-repeat center center;
}
.icon-construccion{
    background:transparent url(../images/carreras/tecnico_bachiller_en_construccion_item_mobil.png) no-repeat center center;
}
.icon-informatica{
    background:transparent url(../images/carreras/tecnico_bachiller_en_informatica_item_mobil.png) no-repeat center center;
}
.icon-hospitalidad-turistica{
    background:transparent url(../images/carreras/tecnico_bachiller_en_hospitalidad_turistica_item_mobil.png) no-repeat center center;
}
.ca-item-2 .ca-icon{
    background-image:url(../images/carreras/que_hace_mobil.png);
}
.ca-item-3 .ca-icon{
    background-image:url(../images/carreras/campo_laboral_mobil.png);
}
.ca-item-4 .ca-icon{
    background-image:url(../images/carreras/icono_pdf_mobil.png);
}
}